bashrc-extra
tags
bak/*
config/vim/plugged/*
config/vim/backups/*
config/vim/swaps/*
config/vim/undo/*
config/vim/info/*
config/vim/autoload/plug.vim.old
!.gitignore
.netrwhist
shell/colors/colors.sh
shell/colors/colors.xrdb
*/error.log
