bashrc-extra
tags
bak/*
vim/plugged
vim/backups
vim/swaps
vim/undo
vim/info
vim/autoload/plug.vim.old
tmux/plugins
tmux/resurrect
!.gitignore
.netrwhist
shell/colors/colors.sh
shell/colors/colors.xrdb
