URxvt*font: -benis-lemon-medium-r-normal--10-110-75-75-m-50-iso8859-9
URxvt*boldFont: -benis-lemon-medium-r-normal--10-110-75-75-m-50-iso8859-9

URxvt.scrollBar: false
URxvt.internalBorder: 20

*foreground:   #636a7a
*background:   #ffffff
*color0:       #ffffff
*color8:       #b8beca
*color1:       #ef6b7b
*color9:       #e76373
*color2:       #a1d569
*color10:      #99cd61
*color3:       #f59335
*color11:      #ed8b2d
*color4:       #4ec2e8
*color12:      #46bae0
*color5:       #fec7cd
*color13:      #f6bfc5
*color6:       #95c1c0
*color14:      #8db9b8
*color7:       #636a7a
*color15:      #474c57
