/* Color variables */
:root {
    --black: #3f3f3f;
    --red: #d68787;
    --green: #5f865f;
    --yellow: #ffd787;
    --blue: #86add4;
    --orange: #e19972;
    --cyan: #87d7d7;
    --white: #c8c8c8;
    --gray: #757575;
}
