# vim: filetype=gitconfig:
[user]
	name = jb kopecky
	email = jean-baptiste.kopecky@mckinsey.com
[github]
	name = jb kopecky
    username = jean-baptiste_kopecky
[color]
    ui = auto
[alias]
    s = status
	d = difftool
    ec = config --global -e
    co = checkout
    dh1 = diff HEAD~1
    l = log --graph --pretty="tformat:%C(yellow)%h%Creset\\ %Cgreen(%ar)%Creset\\ %C(blue)<%an>%Creset\\ %C(red)%d%Creset\\ %s"

